<div class="search_bar">
  <form action="/ideas/filter">
  <input name="search_item" placeholder="Search for hacks" type="text"/>
  <button class="button">search</button>
  </form>
</div>


<div class="list_ideas_page page">
  <h1>Explore All the Hacks!</h1>
  <%@ideas.each do |idea|%> <%user=User.find_by(id: idea.user_id)%>
  <div class="container alternating_background">
    <a href="/ideas/<%=idea.id%>">
     <p><%=idea.title.empty? ? "No title" :  idea.title%></p>
    </a>
    <p>written by: <%=user.name%></p>
    <p>written at: <%=idea.created_at%></p>
  </div>
  <%end%>
</div>
