<div class="home_page page">
  <div class="banner">
    <div>
      <h1>Find Out everything to make your life</h1>
      <h1>
        <span class="letter1 animated bounce">H</span>appier,
        <span class="letter2 animated bounce">A</span>mazing,
        <span class="letter3 animated bounce">C</span>omfortable and
        <span class="letter4 animated bounce">K</span>eep up!
      </h1>
    </div>
  </div>
  <div class="about">
      <div class="a1">
      <i class="fas fa-search fa-5x"></i>
      <p>You can search the hacks with your needs</p>
      </div>
      <div class="a2">
      <i class="far fa-lightbulb fa-5x"></i>
      <p>Just explore awesome tips might be useful in the future</p>
      </div>
      <div class="a3">
      <i class="fas fa-edit fa-5x"></i>
      <p>Comment your reviews or share even better ideas</p>
      </div>
  </div>

</div>