<div class="new_idea_page content_margin">
  
  <%if logged_in?%>
    <h1>Do you have secret tips that help you a lot?</h1>
    <h2>Share, Enjoy and Share More!</h2>
    <form action="/ideas" method="post">
      <div class="new_ideas" >
        <div>
        <label for="">Title: </label>
        <input name="title" type="text">
        </div>

        <div>
        <label for="">Category: </label>
        <select name="category_id">
          <option value="0">Select Category</option>
          <%@categories.each do |category|%>
          <option value="<%=category.id%>"><%=category.name%></option>
          <%end%>
        </select>
        </div>

        <div>
        <label for="description">Description: </label>
        <textarea name="description" type="text" rows="6" cols="50"></textarea>
        </div>
        <div>
        <button class="button">save</button>
        </div>
      </div>
    </form>
  <%else%>
    <div class="error"> 
    <i class="fas fa-ban fa-7x"></i>
    <p>Oops! You can't post without login!</p>
    </div>
  <%end%>
</div>