.detail_page {
  overflow-y: scroll;
}

.comment {
  margin: 10px 0;
  padding: 10px;
  border: 1px dashed;
}


.comment p{
  margin: 0;
}

.detail_page textarea {
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  margin: 0;
  width: 100%;
}

.detail_page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail_page_header > * {
  margin: 0;
}
