.home_page {
  height: 100vh;
}
.home_page .banner {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.banner div {
  justify-content: center;
  align-items: center;
}

.about {
  justify-content: center;
  align-items: center;
}