.login_page {
  display: flex;
  flex: 1;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login_page form label, .login_page form input{
  display: inline-block;
  margin: 8px;
  width: 140px;
}
.login_page form input {
  padding: 5px;
}
.login_page form button {
  margin-top: 10px;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-name: bounce;
  animation-iteration-count:  infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}
