@import "/style/pages/list_ideas.css";
@import "/style/components/wrapper.css";
@import "/style/components/button.css";
@import "/style/pages/login.css";
@import "/style/pages/my_ideas.css";
@import "/style/pages/detail_page.css";
@import "/style/components/menu.css";
@import "/style/components/top_nav.css";
@import "/style/pages/new_ideas.css";
@import "/style/pages/home_page.css";
@import "/style/components/about.css";
@import "/style/components/search.css";
@import "/style/components/error.css";
@import "/style/utilities/layout.css";
@import "/style/components/page.css";

.content_margin {
  padding: 0 20px;
  max-width: 750px;
}

body {
  font-family: 'Mali', cursive;
  margin: 0;
}

.logo {
  font-family: 'Dokdo', cursive;
  margin: 5px 20px;
  font-size: 40px;
  padding: 5px;

}

.letter1 {
  font-size: 150%;
  color: coral;
}

.letter2 {
  font-size: 150%;
  color: lightseagreen;
}

.letter3 {
  font-size: 150%;
  color: palevioletred;
}

.letter4 {
  font-size: 150%;
  color: steelblue;
}

