.top_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
  margin-right: 10px;
}

.top_nav a {
  text-decoration: none;
  padding: 5px;
}
.top_nav a, .top_nav p {
  margin: 5px;
}